<wm-page name="page1" data-ng-controller="MainPageController">
    <wm-left-panel content="leftnav" name="left_panel1"></wm-left-panel>
    <wm-mobile-navbar name="mobile_navbar1"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content name="page_content1" columnwidth="12">
            <wm-fileupload name="fileupload1" service="FileService" operation="uploadFile"></wm-fileupload>
            <wm-buttongroup name="buttongroup1">
                <wm-button class="btn-default" name="button1" caption="left"></wm-button>
                <wm-button class="btn-default" name="button2" caption="center"></wm-button>
                <wm-button class="btn-default" name="button3" caption="right"></wm-button>
            </wm-buttongroup>
            <wm-button class="btn-default" type="button" name="button1" caption="Button"></wm-button>
            <wm-barcodescanner name="barcodescanner1"></wm-barcodescanner>
            <wm-panel class="panel-primary" name="panel1">
                <wm-panel-footer name="panel_footer1"></wm-panel-footer>
            </wm-panel>
        </wm-page-content>
    </wm-content>
</wm-page>